1_intro_to_python/practical_correction.ipynb
old/cleaningDataframe.ipynb
old/dirtydata.xlsx
old/TD1_Basics.ipynb
2_intro_to_panda/anotated_lecture.ipynb
2_intro_to_panda/practical_correction.ipynb
3_intro_to_dataviz/anotated_lecture.ipynb
